In [ ]:
#Importing required libraries
import numpy as np
import pandas as pd
from sklearn import preprocessing
import warnings
warnings.filterwarnings("ignore")

In [ ]:
# Loading the data set
data = pd.read_csv("creditcard.csv")

In [ ]:
#printing the first few rows of the datset
data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [ ]:
#printing the last few rows of the dataset
data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
37717,39076,1.117749,-1.544665,-0.145357,-1.307482,-1.392833,-0.630833,-0.563659,-0.038716,-2.173892,...,-0.334155,-1.108220,0.070461,0.115485,0.078726,-0.460844,-0.029143,0.029028,183.19,0.0
37718,39076,0.758729,-0.483875,0.125488,1.449159,-0.639231,-0.805011,0.406994,-0.221212,0.068777,...,0.210712,0.063091,-0.316636,0.394472,0.558720,-0.304812,-0.033008,0.063331,250.00,0.0
37719,39076,-0.474907,0.835804,0.075878,-1.251283,2.492736,3.385419,0.169507,0.934749,-0.584224,...,-0.270398,-0.866353,-0.085720,0.986274,-0.082934,0.084198,0.310936,0.170342,1.49,0.0
37720,39077,-2.682780,-2.028562,1.745223,-1.157952,-0.143692,-0.807503,-1.154141,0.436917,-0.293442,...,0.353396,0.968145,-0.776459,0.182662,-0.000427,-0.209058,0.256991,-0.585781,102.00,0.0
37721,39077,1.106292,-0.525727,0.926440,0.817696,-1.122177,-0.062703,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#printing the shape of the data set
data.shape

(37722, 31)

In [ ]:
#printing the information of the dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37722 entries, 0 to 37721
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    37722 non-null  int64
 1   V1      37722 non-null  float64
 2   V2      37722 non-null  float64
 3   V3      37722 non-null  float64
 4   V4      37722 non-null  float64
 5   V5      37722 non-null  float64
 6   V6      37722 non-null  float64
 7   V7      37721 non-null  float64
 8   V8      37721 non-null  float64
 9   V9      37721 non-null  float64
 10  V10     37721 non-null  float64
 11  V11     37721 non-null  float64
 12  V12     37721 non-null  float64
 13  V13     37721 non-null  float64
 14  V14     37721 non-null  float64
 15  V15     37721 non-null  float64
 16  V16     37721 non-null  float64
 17  V17     37721 non-null  float64
 18  V18     37721 non-null  float64
 19  V19     37721 non-null  float64
 20  V20     37721 non-null  float64
 21  V21     37721 non-null  float64
 22  V22     37721 non-null  float64
 23  V23     37721 non-null  float64
 24  V24     37721 non-null  float64
 25  V25     37721 non-null  float64
 26  V26     37721 non-null  float64
 27  V27     37721 non-null  float64
 28  V28     37721 non-null  float64
 29  Amount  37721 non-null  float64
 30  Class   37721 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 8.9 MB

In [ ]:
#counting the sum of the null values
data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        1
V8        1
V9        1
V10       1
V11       1
V12       1
V13       1
V14       1
V15       1
V16       1
V17       1
V18       1
V19       1
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [ ]:
#extracting the duplicate rows
duplicate = data[data.duplicated()]

In [ ]:
#shape of the duplicate data frame
duplicate.shape

(153, 31)

In [ ]:
#remocing the duplicate rows from the pandas dataframe
data.drop_duplicates(inplace=True)

In [ ]:
#printing the shape of the dataframe
data.shape

(37569, 31)

In [ ]:
#counting the occurance of the unique values in the class column
data["Class"].value_counts()

0.0    37465
1.0      103
Name: Class, dtype: int64

In [ ]:
#splitting the dataframe into 2 subsets
legit = data[data.Class == 0] #legitimate transactions
fraud = data[data.Class == 1] #fradulent transactions

In [ ]:
print(legit.shape) #shape of legitimate transactions
print(fraud.shape) #shape of fradulent transactions

(37465, 31)
(103, 31)

In [ ]:
#descriptive statistics for the "Amount" column in the legit DataFrame
legit.Amount.describe()

count    37465.000000
mean        86.188595
std        233.292433
min          0.000000
25%          7.380000
50%         22.970000
75%         77.900000
max       7879.420000
Name: Amount, dtype: float64

In [ ]:
#descriptive statistics for the "Amount" column in the fraud DataFrame
fraud.Amount.describe()

count     103.000000
mean       90.471165
std       247.173335
min         0.000000
25%         1.000000
50%         3.760000
75%        99.990000
max      1809.680000
Name: Amount, dtype: float64

In [ ]:
X = data.drop(columns = "Class", axis = 1) #features
Y = data["Class"]  #target variables

In [ ]:
#printing first few rows of X dataframe
X.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,0.251412,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.069083,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.524980,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.208038,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,0.408542,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99

In [ ]:
#printing first few rows of Y dataframe
Y.head()

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: Class, dtype: float64

In [ ]:
import pandas as pd
from collections import Counter
from imblearn.over_sampling import SMOTE

# Loading the creditcard.csv file into a Pandas DataFrame
df = pd.read_csv('creditcard.csv')

# Checking for NaN values in the target variable 'Class'
print(df['Class'].isnull().sum())

# Dropping rows with NaN values from the target variable 'Class'
df.dropna(subset=['Class'], inplace=True)

# Splitting the DataFrame into input features (X) and target variable (Y)
X = df.drop('Class', axis=1)
Y = df['Class']

# Applying SMOTE algorithm for handling the class imbalance
s = SMOTE(random_state=42)
X_new, Y_new = s.fit_resample(X, Y)

print('Original dataset shape %s' % Counter(Y))
print('Resampled dataset shape %s' % Counter(Y_new))

1
Original dataset shape Counter({0.0: 37618, 1.0: 103})
Resampled dataset shape Counter({0.0: 37618, 1.0: 37618})

In [ ]:
#printing the shape or dimension values
print(X_new.shape)
print(Y_new.shape)

(75236, 30)
(75236,)

In [ ]:
#scaling the features
scaler = preprocessing.MinMaxScaler()
names = X.columns
d = scaler.fit_transform(X_new)
scaled_data = pd.DataFrame(d, columns=names)
scaled_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
0,0.000000,0.897877,0.709039,0.955536,0.357647,0.548342,0.520556,0.423686,0.676242,0.429126,...,0.450213,0.472136,0.616099,0.604796,0.423810,0.585545,0.252126,0.441609,0.627386,0.018989
1,0.000000,0.976359,0.714914,0.888221,0.306872,0.553567,0.508720,0.418650,0.676021,0.393880,...,0.439867,0.467297,0.552450,0.609604,0.364436,0.588512,0.315687,0.434375,0.629725,0.000341
2,0.000026,0.897922,0.687071,0.933859,0.303139,0.546180,0.549629,0.432415,0.678665,0.322202,...,0.459044,0.478347,0.650395,0.627950,0.313432,0.550510,0.262218,0.432022,0.624856,0.048057
3,0.000026,0.909981,0.707090,0.934421,0.235272,0.552644,0.537607,0.423655,0.680775,0.329467,...,0.435381,0.470037,0.597170,0.602983,0.242451,0.625391,0.245505,0.438014,0.632780,0.015674
4,0.000051,0.904077,0.725515,0.927483,0.304409,0.547439,0.512594,0.429275,0.670238,0.454966,...,0.455286,0.472343,0.652242,0.604184,0.434661,0.559851,0.391635,0.445967,0.642828,0.008883

In [ ]:
#descriptive statistics for the scaled data
scaled_data.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
count,75236.000000,75236.000000,75236.000000,75236.000000,75236.000000,75236.000000,75236.000000,75236.000000,75236.000000,75236.000000,...,75236.000000,75236.000000,75236.000000,75236.000000,75236.000000,75236.000000,75236.000000,75236.000000,75236.000000,75236.000000
mean,0.579778,0.811407,0.764765,0.729816,0.452746,0.513277,0.485546,0.354736,0.709515,0.327310,...,0.454331,0.480007,0.580092,0.603328,0.395730,0.594738,0.311242,0.456738,0.633332,0.010024
std,0.295846,0.240099,0.078908,0.257041,0.196437,0.074436,0.040163,0.099143,0.079934,0.132712,...,0.025046,0.025214,0.054236,0.025303,0.080007,0.062352,0.088041,0.041381,0.031154,0.025621
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.294617,0.816969,0.711658,0.689548,0.292359,0.510327,0.458519,0.323460,0.673498,0.217270,...,0.439270,0.468559,0.551668,0.599899,0.351842,0.562165,0.245430,0.433862,0.628833,0.000164
50%,0.679300,0.910759,0.735051,0.857583,0.421778,0.542286,0.490848,0.404565,0.679831,0.357788,...,0.448954,0.476007,0.585198,0.605529,0.413550,0.590068,0.303996,0.443665,0.633781,0.002303
75%,0.852580,0.961032,0.788858,0.907609,0.608560,0.553873,0.509149,0.420376,0.699953,0.421955,...,0.468624,0.491851,0.614273,0.609915,0.440312,0.624465,0.374478,0.477476,0.652240,0.012309
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

**Training and Testing Data**

In [ ]:
#splitting the dataset into testing and training sets
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X_new, Y_new, test_size = 0.2, random_state = 2)

In [ ]:
#shapes of the training and testing sets
print(X_new.shape, X_train.shape, X_test.shape)

(75236, 30) (60188, 30) (15048, 30)

In [ ]:
# Define ANSI escape sequences for color
BLUE = '\033[94m'
RESET = '\033[0m'

**LOGISTIC REGRESSION**

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

lr = LogisticRegression(max_iter=1000)
lr.fit(X_train, Y_train)

y_pred = lr.predict(X_test)

accuracy1 = accuracy_score(Y_test, y_pred)
accuracy_text = f"{accuracy1:.4f}"

print(f"Accuracy of LogisticRegression model is: {BLUE}{accuracy_text}{RESET}")

Accuracy of LogisticRegression model is: 0.9893

**NAIVE BAYES MODEL**

In [ ]:
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score

nb = GaussianNB()
nb.fit(X_train, Y_train)

y_pred = nb.predict(X_test)

accuracy2 = accuracy_score(Y_test, y_pred)
accuracy_text = f"{accuracy2:.4f}"

print(f"Accuracy of Naive Bayes model is: {BLUE}{accuracy_text}{RESET}")

Accuracy of Naive Bayes model is: 0.9632

**DECISION TREE MODEL**

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

dt = DecisionTreeClassifier(criterion="entropy",random_state=0)
dt.fit(X_train, Y_train)

y_pred = dt.predict(X_test)

accuracy3 = accuracy_score(Y_test, y_pred)
accuracy_text = f"{accuracy3:.4f}"

print(f"Accuracy of Decision Tree model is: {BLUE}{accuracy_text}{RESET}")

Accuracy of Decision Tree model is: 0.9985

**RANDOM FOREST MODEL**

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

rf = RandomForestClassifier(n_estimators= 10, criterion="entropy")
rf.fit(X_train, Y_train)

y_pred = rf.predict(X_test)

accuracy4 = accuracy_score(Y_test, y_pred)
accuracy_text = f"{accuracy4:.4f}"

print(f"Accuracy of Random Forest model is: {BLUE}{accuracy_text}{RESET}")

Accuracy of Random Forest model is: 0.9996

**K-NEAREST NEIGHBOR(KNN) MODEL**

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train, Y_train)

y_pred = knn.predict(X_test)

accuracy5 = accuracy_score(Y_test, y_pred)
accuracy_text = f"{accuracy5:.4f}"

print(f"Accuracy of KNN model is: {BLUE}{accuracy_text}{RESET}")

Accuracy of KNN model is: 0.9755

**EXTREME GRADIENT BOOSTING (XGBoost)**

In [ ]:
import xgboost as xgb
from sklearn.metrics import accuracy_score

xg_boost = xgb.XGBClassifier(n_estimators=100)

xg_boost.fit(X_train, Y_train)

y_pred = xg_boost.predict(X_test)

accuracy6 = accuracy_score(Y_test, y_pred)
accuracy_text = f"{accuracy6:.4f}"

print(f"Accuracy of Extreme Gradient Boosting model is: {BLUE}{accuracy_text}{RESET}")

Accuracy of Extreme Gradient Boosting model is: 0.9999

**LINEAR DISCRIMINANT ANALYSIS (LDA) MODEL**

In [ ]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.metrics import accuracy_score

lda = LinearDiscriminantAnalysis()
lda.fit(X_train, Y_train)

y_pred = lda.predict(X_test)

accuracy7 = accuracy_score(Y_test, y_pred)
accuracy_text = f"{accuracy7:.4f}"

print(f"Accuracy of Linear Discriminant Analysis model is: {BLUE}{accuracy_text}{RESET}")

Accuracy of Linear Discriminant Analysis model is: 0.9609

**Results**

In [ ]:
#printing all the results
import pandas as pd

Output = pd.DataFrame({
    "Model Name": ['Logistic Regression', 'Naive Bayes', 'Decision Tree', 'Random Forest', 'KNN','XGBoost','LDA'],
    "Accuracy": [accuracy1,accuracy2,accuracy3,accuracy4,accuracy5,accuracy6,accuracy7]
})

Output['Accuracy'] = Output['Accuracy'].map('{:.4f}'.format)
result_df = Output.sort_values(by='Accuracy', ascending=False).reset_index(drop=True)
result_df.index = result_df.index + 1
result_df.index.name = 'Serial No'

print(result_df)

                    Model Name Accuracy
Serial No
1                Random Forest   0.9999
2                      XGBoost   0.9999
3                Decision Tree   0.9995
4          Logistic Regression   0.9865
5                          KNN   0.9714
6                          LDA   0.9609
7                  Naive Bayes   0.9525